html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('/backgroundImage.jpg') no-repeat center center fixed;
  background-size: cover;
}

.login-page {
  margin: 0;
  padding: 5px;
  width: 98vw;
  height: 98vh;
  /* background-image: url(/backgroundImage.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-subtext {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #7b6849;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #5e5239;
}



/* Form inputs */
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;

}

/* Login buttons */
/* .login-container button {
  width: 100%;
  padding: 10px;
  background-color: #7b6849;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1rem;
  cursor: pointer;
} */

.login-container hr {
  width: 80%;
  margin: 15px 0;
  border: none;
  border-top: 1px solid #ccc;
}